body(style="width : 100%")
        .st_titr
            div(class="panel panel-danger" style="width : 100%")
                .panel-heading
                    | میز کار
                .panel-body
                    |اطلاعات ناقص می باشد .


